.DS_Store
Library
Temp
UnityVS
AssetStoreTools
obj/*
Assets/Test.unity
Assets/Test.unity.meta
/Assets/AssetStoreTools.meta
/Assets/UnityVS.meta
/Assets/Plugins/Slua/LuaObject
/Assets/Plugins/Slua/LuaObject.meta
/ProjectSettings
/*.csproj
*.sln
*.userprefs
